@font-face {
  font-family: "MuseoSlab"; font-style: normal; font-weight: 700;
  src:  url("../fonts/33644E_2_0.eot?#iefix") format("embedded-opentype"),
        url("../fonts/33644E_2_0.woff2") format("woff2"),
        url("../fonts/33644E_2_0.woff") format("woff"),
        url("../fonts/33644E_2_0.ttf") format("truetype");
}

@font-face {
  font-family: "MuseoSlab"; font-style: normal; font-weight: 400;
  src: url("../fonts/33644E_4_0.eot?#iefix") format("embedded-opentype"),
       url("../fonts/33644E_4_0.woff2") format("woff2"),
       url("../fonts/33644E_4_0.woff") format("woff"),
       url("../fonts/33644E_4_0.ttf") format("truetype");
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/33644E_C_0.eot?#iefix") format("embedded-opentype"),
       url("../fonts/33644E_C_0.woff2") format("woff2"),
       url("../fonts/33644E_C_0.woff") format("woff"),
       url("../fonts/33644E_C_0.ttf") format("truetype");
}

html, body{
  /* Height and width fallback for older browsers. */
  height: 100%;
  width: 100%;

  /* Set the height and width to match that of the viewport. */
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: #131200;
}

.homeWrapper {
  background: #ffd31c url("../../images/bg.png") repeat scroll 0 100%;
  font-family: 'MuseoSlab',sans-serif;
  font-weight: 400;
	height: 95vh;
	width: 98vw;
	position: absolute;
	top: 2.5%;
	left: 1%;
}

.header {
  padding: 40px 25px;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 200px;
}

.menu {
  display: inline-block;
  float: right;
  list-style: none;
  padding: 0;
}

.menu li {
  display: inline-block;
  padding: 0 20px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
}

.intro {
  top: calc(50% - 50px);
  text-align: center;
  left: 50%;
  padding: 15px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.intro h2 {
  font-family: 'Futura',sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  color: #fefefe;
  margin: 20px 0;
}

.intro span {
  font-size: 22px;
  color: rgb(255, 240, 183);
}

.intro span strong {
  color: rgb(255, 255, 251);
  font-weight: 400;
}

.buttonContainer {
  margin: 30px 0;
}

.buttonContainer a {
  border: 2px solid #fffffe;
  border-radius: 25px;
  color: #fffffe;
  margin: 0 10px;
  padding: 10px 50px;
  text-decoration: none;
  transition: all ease 0.3s;
  position: relative;
  font-size: 20px;
}

.buttonContainer a:hover {
    color: #222;
}
.buttonContainer a::after {
    background: #fff none repeat scroll 0 0;
    border-radius: 25px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    transition: height 0.3s ease 0s;
    width: 100%;
    z-index: -1;
}
.buttonContainer a:hover::after {
    height: 100%;
}
